body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Inconsolata", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.navigation {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    float: left;
}

.navigation ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navigation ul li a:hover {
    background-color: #575757;
}

.area-contain {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.area-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.area-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

.area-text ul {
    list-style-type: none;
    padding: 0;
}

.area-text ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.social-icons a:hover {
    color: #ddd;
}
@media (max-width: 768px) {
    .navigation ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #333;
        display: none;
    }

    .navigation ul li {
        margin: 0;
    }

    .navigation ul li a {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .menu-container {
        display: flex;
    }

    .menu-icon {
        cursor: pointer;
        color: white;
        padding: 14px 16px;
        font-size: 24px;
       padding-left: 450px;
    }

    .menu-container {
        display: block; /* Show the icon container only on small screens */
    }

    /* Hide menu icon on larger screens */
    @media (min-width: 769px) {
        .menu-container {
            display: none;
        }
    }
}
.gh{
    display: flex;
    justify-content: center;
}